
.icon-heart-empty:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-th-list:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-signal:before { content: '\e806'; } /* '' */
.icon-list:before { content: '\e807'; } /* '' */
.icon-align-justify:before { content: '\e808'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
